{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charSet="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
                Wiwa
            {% endblock title %}
        </title>
        <link rel="stylesheet"
              href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css" />
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github.min.css" />
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github-dark.min.css"
              media="screen and (prefers-color-scheme: dark)" />
    </head>
    <body>
        {% include "core/includes/navbar.html" %}
        {% block body %}
            <main className="pt-4">
                {% block main %}
                {% endblock main %}
            </main>
        {% endblock body %}
    </body>
</html>
